<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array/>
	<key>WKBackgroundModes</key>
	<array>
		<string>workout-processing</string>
	</array>
	<key>NSHealthShareUsageDescription</key>
	<string>당신의 건강데이터를 사용할꺼야!</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>당신의 건강데이터를 추적할꺼야!</string>
</dict>
</plist>
